@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  width: 100%;
}
li {
  font-size: 18px;
  line-height: 2.7;
}
body {
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 54%, 90%);
}
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}
.image img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.text h1 {
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
}

.preparation-time {
  background-color: hsl(330, 100%, 98%);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.preparation-time h3 {
  color: hsl(332, 51%, 32%);
}
.preparation-time ul {
  margin-left: 25px;
}
.preparation-time ul li {
  margin-top: 10px;
}
.preparation-time ul li::marker {
  color: hsl(332, 51%, 32%);
}
.preparation-time span {
  font-weight: bold;
  /* margin-left: 30px; */
}

.ingredients h3 {
  color: hsl(14, 45%, 36%);
  margin-bottom: 20px;
}

.ingredients ul {
  margin-left: 25px;
}
.ingredients ul li {
  margin-top: 10px;
}
.ingredients ul li:last-child {
  margin-bottom: 30px;
}
.ingredients ul li::marker {
  color: hsl(14, 45%, 36%);
}

.instructions h3 {
  color: hsl(14, 45%, 36%);
  margin: 30px 0 30px;
}
.instructions ol {
  margin-left: 25px;
  padding: 10px;
}
.instructions ol li span {
  font-weight: bold;
}
.instructions ol li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
.instructions ol li:last-child {
  margin-bottom: 30px;
}

.nutrition h3 {
  color: hsl(14, 45%, 36%);
  margin: 30px 0 30px;
}

.nutrition p {
  margin-bottom: 30px;
}

.small-container {
  display: flex;
  text-align: center;
}
.small-container p {
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.small-container .values p {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

@media (max-width: 767px) {
  body {
    padding: 50px 100px;
  }
}
@media (max-width: 480px) {
  body {
    padding: 0;
  }
  .container {
    border-radius: 0;
    padding-top: 0;
  }
  .image img {
    border-radius: 0;
  }
}
